modules = ["nodejs-20"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "example-bot"

[[workflows.workflow]]
name = "example-bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[workflows.workflow.metadata]
outputType = "console"
